@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);     
  --font-inknut: var(--font-inknut);     
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
